@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h4>@Html.DisplayNameFor(model => model.Status): <strong>@Html.DisplayFor(model => model.Status)</strong></h4>
<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>


<h4>Licensure Information:</h4>
@if(@Model.JoinEntities.Count == 0)
{
  <p>No engineers are licensed to work on this machine.</p>
}
else
{
  <h5>These engineers are licensed to work on this machine:</h5>
  <ul>
    @foreach(EngineerMachine license in Model.JoinEntities)
    {
    <li>@license.Engineer.Name | <em>granted on @license.LicensureDate.ToShortDateString()</li>
      @using (Html.BeginForm("DeleteJoin", "Machines"))
      {
        @Html.Hidden("joinId", @license.EngineerMachineId)
        <input type="submit" value="Remove License"/>
      }
    }
  </ul>
}

<hr>

<p>@Html.ActionLink("Edit machine information", "Edit", new { id = Model.MachineId})</p>
<p>@Html.ActionLink("Add a license for this machine to an engineer", "AddEngineer", new { id = Model.MachineId})</p>
<p>@Html.ActionLink("Delete machine", "Delete", new { id = Model.MachineId})</p>
<p>@Html.ActionLink("Back to machine list", "Index")</p>
