@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit machine information</h2>

<h4>Editing this machine's entry: @Html.DisplayFor(model => model.Name)</h4>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;"})</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;"})</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)
  <br>

  @Html.LabelFor(model => model.Status)
  <select name="Status">
    <option value="Operational">Operational</option>
    <option value="Inoperative">Inoperative</option>
    <option value="Under Repairs">Under Repairs</option>
  </select>
  <br>
  <hr>
  <input type="submit" value="Save" />
}
<br>
<p>@Html.ActionLink("Cancel", "Index")</p>
