@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a machine license</h2>

<h4>Adding a licence for this engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select machine: ")
    <br>
    @Html.DropDownList("MachineId")
    <br>

    <input type="submit" value="Add license" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>
