@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit engineer information</h2>

<h4>Editing this engineer's entry: @Html.DisplayFor(model => model.Name)</h4>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;"})</p>
<p>@Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger", @style = "font-weight: 600;"})</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>

  @Html.LabelFor(model => model.Notes)
  @Html.EditorFor(model => model.Notes)
  <br>

  @Html.LabelFor(model => model.Status)
  <select name="Status">
    <option value="Idle">Idle</option>
    <option value="Working">Working</option>
  </select>
  <br>
  <hr>
  <input type="submit" value="Save" />
  <br>
}

<p>@Html.ActionLink("Cancel", "Index")</p>
