@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit engineer information</h2>

<h4>Editing this engineer's entry: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Notes)
  @Html.EditorFor(model => model.Notes)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Cancel", "Index")</p>
